# Byte-compiled / optimized / DLL files
__pycache__/
*.py[odc]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
wheels/
*.egg-info/
.installed.cfg
*.egg

.DS_Store
.idea

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.mypy_cache/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Editors
.vscode/
.idea

# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# virtualenv
.venv
venv/
myVenv/

# mkdocs documentation
/site

# Scripts
setENVs.sh

# mypy
.mypy_cache/

# MonkeyType
monkeytype.sqlite3

# Sonar
sonar-project.properties
.scannerwork/

# Script to set environment variables
setENVs.sh

.history
