# rq and statsd/Graphite and requests are used by the job handler
rq==1.2.2
statsd==3.3.0
requests==2.22.0
watchtower==0.7.3

# yaml is used by file_utils used by ResourceContainer
pyyaml==5.3

# dateutil is used by data_utils used by ResourceContainer
py-dateutil==2.2

# boto3 is used by aws_tools
boto3==1.12.2

# pyparsing is used by usfm_tools/parseUsfm.py
pyparsing==2.4.6

# markdown is used by converters/md2html_converter.py
markdown==3.2.1
markdown2==2.3.8

# usfm-tools (transform) is used by converters/usfm2html_converter.py
# We copied in the files and updated to Python3
#usfm-tools==0.0.22

# BeautifulSoup is used by converters/md2html_converter.py
beautifulsoup4==4.8.2
