anyio==3.7.0
beautifulsoup4==4.12.2
brotli==1.0.9
cssutils==2.6.0
dcs-api-client==1.16.8
dcs-catalog-client==1.16.8
gitpython==3.1.31
googletrans==4.0.0rc1
jsonpickle==3.0.1
markdown==3.4.3
markdown2==2.4.8
packaging==23.0
pip-chill==1.0.1
py-dateutil==2.2
pylint==2.16.2
pyparsing==3.0.9
pyyaml==6.0
requests==2.31.0
rq==1.15.0
ruamel.yaml==0.17.21
statsd==4.0.1
watchtower==3.0.1
weasyprint==59.0
zopfli==0.2.2
